<ng-container *ngIf="authUser$ | async as user">

  <app-view-nav
  [authUser]="user"
  [title]="'Students'"
  [pageType]="PageType"
  (searchTermState)="SearchTermChanged($event)"></app-view-nav>

  <div class="row">

    <app-sidebar
    [authUser]="user"
    [listItems]="students | async"
    [searchTerm]="searchTerm"
    [filterProperty]="'FullName'"
    (selectedObject)="GetSelectedStudent($event)"
    (selectedFilters)="ReceiveFilters($event)"
    [class]="!(sidebarState | async) ? 'col-sm-4 side-content' : 'd-none'"></app-sidebar>

    <div [class]="(sidebarState | async) ? 'col' : 'col offset-sm-4'">
      <div class="row">
        <ng-container *ngIf="user.IsAdmin">
          <div class="row collapse mb-3" id="collapseAddClicked">
            <div class="col">
              <app-add-student [authUser]="user"></app-add-student>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row">
        <ng-container *ngIf="selectedStudent != undefined">
          <app-student-item [student]="selectedStudent" [authUser]="user"></app-student-item>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

