<h6>Add Staff Member</h6>

<app-alert-info [text]="info"></app-alert-info>

<app-alert-warning [text]="error"></app-alert-warning>

<form class="mb-3" *ngIf="!permitted" [formGroup]="emailForm" (ngSubmit)="SubmitEmailForm()">

  <div class="input-group mb-3">
    <span class="input-group-text" id="formEmail">Email</span>
    <input type="email" class="form-control" aria-describedby="formEmail" formControlName="FormEmail"
      (click)="error = ''; info = ''">
  </div>
  <div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-primary" [disabled]="emailForm.invalid">Submit</button>
    <small class="text-center mt-3" (click)="ClearForms()" data-bs-toggle="collapse"
      data-bs-target="#collapseAddUser"><b>Close</b></small>
  </div>

</form>

<form class="mb-3" *ngIf="permitted" [formGroup]="userForm" (ngSubmit)="SubmitUserForm()">

  <div class="input-group mb-3">
    <span class="input-group-text" id="formEmail">Email</span>
    <input type="email" class="form-control" aria-describedby="formEmail" formControlName="Form_username">
  </div>

  <h6>Offices</h6>

  <div class="d-flex justify-content-between">

    <div class="input-group mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="FormCheckbox_churchrd"
          formControlName="FormCheckbox_churchrd">
        <label class="form-check-label" for="FormCheckbox_churchrd">
          Church Rd
        </label>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="FormCheckbox_coneyboro"
          formControlName="FormCheckbox_coneyboro">
        <label class="form-check-label" for="FormCheckbox_coneyboro">
          Coneyboro
        </label>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="FormCheckbox_glebelands"
        formControlName="FormCheckbox_glebelands">
      <label class="form-check-label" for="FormCheckbox_glebelands">
        Glebelands
      </label>
    </div>
  </div>

  <h6>Type</h6>

  <div class="d-flex justify-content-between">

    <div class="input-group mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="FormCheckbox_admin"
          formControlName="FormCheckbox_admin">
        <label class="form-check-label" for="FormCheckbox_admin">
          Admin
        </label>
      </div>
    </div>

  </div>


  <div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Save</button>

    <small class="text-center mt-3" (click)="ClearForms()" data-bs-toggle="collapse"
      data-bs-target="#collapseAddUser"><b>Cancel</b></small>
  </div>

</form>
