<ng-container *ngIf="user != undefined && authUser != undefined">

  <div class="d-flex justify-content-between mb-3">
    <div class="d-flex align-items-start flex-column">
      <small>Staff details</small>
      <h2>{{user.FullName}}</h2>
    </div>
    <div class="d-flex align-items-end flex-column">
      <small>{{user.Id | uppercase}}</small>
      <small>{{user.Email | lowercase}}</small>
    </div>
  </div>


  <div class="card mb-3">
    <div class="card-body">
      <div class="card-title">
        <h5>Vitals</h5>
      </div>
      <dl class="row">

        <dt class="col-sm-3">Role</dt>
        <dd class="col-sm-9">{{user.Role}} ({{user.GetHighestPermissions}})</dd>

        <dt class="col-sm-3">Service(s)</dt>
        <dd class="col-sm-9">
          <p *ngFor="let office of user.Offices">{{office | titlecase}}</p>
        </dd>

        <dt class="col-sm-3">Locked Out</dt>
        <dd class="col-sm-9">{{(user.LockedOut).toString() | titlecase}}</dd>

      </dl>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" [disabled]="!authUser.IsAdmin">Edit vitals</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="card-title d-flex justify-content-between align-items-center">
        <h5>Audit Info</h5>
        <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseAudit">
          <small><i class="fas fa-chevron-circle-down"></i></small>
        </button>
      </div>
      <dl class="row collapse" id="collapseAudit">

        <dt class="col-sm-3">Created DateTime</dt>
        <dd class="col-sm-9">{{user.GetCreatedDateString}}</dd>

        <dt class="col-sm-3">Updated DateTime</dt>
        <dd class="col-sm-9">{{user.GetUpdatedDateString}}</dd>

        <dt class="col-sm-3">Last LoggedIn</dt>
        <dd class="col-sm-9">{{user.GetLastLoggedInDateString}}</dd>


      </dl>
    </div>
  </div>

</ng-container>
