<ng-container *ngIf="authUser$ | async as user">

<app-view-nav
[authUser]="user"
[title]="'Staff'"
[pageType]="PageType"
(sidebarState)="SidebarChanged($event)"
(searchTermState)="SearchTermChanged($event)"></app-view-nav>

  <div class="row">

    <app-sidebar
    [authUser]="user"
    [hidden]="hideSidebar"
    [listItems]="users | async"
    (selectedObject)="GetSelectedUser($event)"
    (selectedFilters)="ReceiveFilters($event)"></app-sidebar>

    <div [class]="hideSidebar ? 'col' : 'col offset-sm-3 offset-md-4'">
      <div class="row">
        <ng-container *ngIf="user.IsAdmin">
          <div class="row collapse mb-3" id="collapseAddClicked">
            <div class="col">
              <app-add-user [authUser]="user"></app-add-user>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row">
        <ng-container *ngIf="selectedUser != undefined">
          <app-user-item [user]="selectedUser"></app-user-item>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
