<ng-container *ngIf="authUser$ | async as user">

  <div class="d-flex w-100 justify-content-between align-items-center">
    <h4>Staff</h4>
  </div>

  <div class="d-flex w-100 justify-content-between align-items-center">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text" id="searchInput">Search</span>
        <input type="text" class="form-control" [(ngModel)]="searchTerm" name="nameFilter"
          aria-describedby="searchInput">
      </div>
    </div>
    <button class="btn mb-3" data-bs-toggle="collapse" data-bs-target="#collapseFilter">
      <i class="fas fa-filter"></i>
    </button>
    <button class="btn mb-3" [disabled]="!user.IsAdmin">
      <i class="fas fa-user-plus"></i>
    </button>
  </div>

  <div class="row collapse mb-3" id="collapseFilter">
    <div class="col">
      <div class="card">
        <div class="card-body">

          <form [formGroup]="form" (ngSubmit)="SubmitFilterForm()">

            <div class="alert alert-danger" role="alert" *ngIf="filterError.length > 0">
              {{filterError}}
            </div>

            <h6>Offices</h6>

            <div class="d-flex justify-content-between">

              <div class="input-group mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="FormCheckbox_churchrd"
                    formControlName="FormCheckbox_churchrd">
                  <label class="form-check-label" for="FormCheckbox_churchrd">
                    Church Rd
                  </label>
                </div>
              </div>
              <div class="input-group mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="FormCheckbox_coneyboro"
                    formControlName="FormCheckbox_coneyboro">
                  <label class="form-check-label" for="FormCheckbox_coneyboro">
                    Coneyboro
                  </label>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="FormCheckbox_glebelands"
                  formControlName="FormCheckbox_glebelands">
                <label class="form-check-label" for="FormCheckbox_glebelands">
                  Glebelands
                </label>
              </div>
            </div>

            <h6>Type</h6>

            <div class="d-flex justify-content-between">

              <div class="input-group mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="FormCheckbox_admin"
                    formControlName="FormCheckbox_admin">
                  <label class="form-check-label" for="FormCheckbox_admin">
                    Admin
                  </label>
                </div>
              </div>

            </div>

            <h6>Status</h6>

            <div class="d-flex justify-content-between">

              <div class="input-group mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="FormCheckbox_archived"
                    formControlName="FormCheckbox_archived">
                  <label class="form-check-label" for="FormCheckbox_archived">
                    Archived Users
                  </label>
                </div>
              </div>

            </div>

            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Apply filters</button>
              <small class="text-center mt-3" data-bs-toggle="collapse"
                data-bs-target="#collapseFilter"><b>Close</b></small>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-users [userList]="users | async | collectionFilter: searchTerm : 'FullName'"></app-users>
    </div>
  </div>

</ng-container>
