<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Shining Stars Academy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      *ngIf="user | async as user" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
      *ngIf="user | async as user">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mb-auto">
          <li class="nav-item">
            <a class="nav-link" data-bs-dismiss="offcanvas" [routerLink]="['/auth']">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-dismiss="offcanvas" [routerLink]="['/auth/daily-form']">Daily Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-dismiss="offcanvas" [routerLink]="['/auth/alerts']">Alerts</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Groups
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" data-bs-dismiss="offcanvas" [routerLink]="['/auth/students']">Students</a>
              </li>
              <li><a class="dropdown-item" data-bs-dismiss="offcanvas" [routerLink]="['/auth/rooms']">Rooms</a></li>
              <li><a class="dropdown-item" data-bs-dismiss="offcanvas" [routerLink]="['/auth/parents']">Parents</a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" data-bs-dismiss="offcanvas" [routerLink]="['/auth/staff']">Staff</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" data-bs-dismiss="offcanvas">My Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" data-bs-dismiss="offcanvas" (click)="Logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
        <div class="align-self-end">
          <small class="text-body-secondary">Current User: {{user.FullName}}</small>
        </div>
      </div>
    </div>
  </div>
</nav>
