<ng-container *ngIf="authUser as user">
  <div class="view-title">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-4">
          <!-- Search Bar and Filters -->
          <div class="d-flex w-100 justify-content-between align-items-center">
            <div class="col" *ngIf="(sidebarState | async)">
              <div class="input-group" (click)="SetSidebarState(true)">
                <span class="input-group-text" id="searchInput">Search</span>
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (ngModelChange)="SetSearchTerm($event)"
                  name="nameFilter" aria-describedby="searchInput">
              </div>
            </div>
            <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseFilter"
              *ngIf="(sidebarState | async)">
              <i class="fas fa-filter"></i>
            </button>

            <button class="btn" *ngIf="sidebarState | async as showSidebar; else sidebarStateFalse"
              (click)="SetSidebarState(false)">
              <i class="fas fa-angle-double-left"></i>
            </button>

            <ng-template #sidebarStateFalse>
              <div class="">
                <button class="btn" (click)="SetSidebarState(true)">
                  <i class="fas fa-angle-double-right"></i>
                </button>
                <h4>{{title | titlecase}}</h4>
              </div>
            </ng-template>

          </div>
        </div>
        <div class="col">
          <!-- Title -->
          <div [class]="(sidebarState | async) ? 'd-flex w-100 justify-content-between align-items-center' : 'd-flex justify-content-end'">
            <h4 *ngIf="sidebarState | async">{{title | titlecase}}</h4>
            <!-- Add button -->
            <button class="btn" [disabled]="!user.IsAdmin" data-bs-toggle="collapse"
              data-bs-target="#collapseAddClicked">
              <!-- User Icon -->
              <i class="fas fa-user-plus" *ngIf="pageType == 'user'"></i>
              <!-- Room Icon -->
              <i class="fa-solid fa-door-open" *ngIf="pageType == 'room'"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
